<header class="jumbotron page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Information service <br>for personalized nutrition <br>and lifestyle advice</h1>
      </div>
    </div>
  </div>
</header>

{% if current_user %}
  <section class="start">
  <div class="container">
  <div class="row">

    <div class="col-md-9">
      <h1>Getting started</h1>
      <ol>
        <li>Subscribe to a <a href="{{ urls.services }}">service</a>.</li>
        <li><a href="{{ urls.new_application }}">Create an application</a> (one for each service you'd like to use).</li>
        <li>Get the key(s) for your <a href="{{ urls.applications }}">application(s)</a></li>
        <li>Use the key(s) to make calls from your actual application. See the <a href="/docs">documentation</a> for more information. For instance:
          <code>curl -v http://api.quisper.eu/pdas/properties.json -H "user_key: [application key]"</code>
        </li>
      </ol>
    </div>

    {% if current_account.applications.size > 0 %}
      <div class="col-md-9">
        <h1>Applications</h1>

        <table class="table table-hover panel panel-default" id="applications">
          <thead>
            <tr>
              <th>Name</th>
              {% if provider.multiple_services_allowed? %}
                <th>Service</th>
              {% endif %}
              <th>Credentials</th>
              <th>State</th>
              <th>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for service in current_account.subscribed_services %}
                {% for application in service.applications %}
                  <tr class="{% cycle 'applications': 'odd', 'even' %}" id="application_{{ application.id }}">
                    <td>
                      {{ application.name | link_to: application.url }}
                    </td>
                    {% if provider.multiple_services_allowed? %}
                      <td>{{ service.name }}</td>
                    {% endif %}
                    <td>{{ application.key }}</td>
                    <td>{{ application.state }}</td>
                    <td>
                      {% if application.can.be_updated? %}
                        <a href="{{ application.edit_url }}">
                          <i class="icon-pencil"></i>
                        </a>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
            {% endfor %}
          </tbody>
          <tfoot>
          <tr>
            <td colspan="3">
            </td>
            <td>
              {% if current_user.can.create_application? %}
                <a href="{{ urls.new_application }}" title="Create new application" class="btn btn-default btn-xs">Create new application</a>
              {% endif %}
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    {% else %}
      <div class="col-md-9">
        <h1>Services</h1>

        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width:20%">Name</th>
              <th>Description</th>
              <th>Current subscription</th>
              <th>Service plans</th>
              <th>Application plans</th>
            </tr>
          </thead>
          <tbody>
            {% for service in provider.services %}
              <tr class="service">
                {% if service.subscribable? %}
                  {% assign subscription = service.subscription %}
                  <td>
                    {{ service.name }}
                  </td>
                  <td>
                    <p>
                      {{ service.description }}
                    </p>
                  </td>

                  <td>
                    {% if subscription %}
                      {{ subscription.plan.name  }}
                      {% unless subscription.live? %}
                        ({{ subscription.state }})
                      {% endunless %}

                      {% if subscription.can.change_plan? %}
                        <a href="#" id="choose-plan-{{subscription.id}}" class="btn btn-default">Review/Change</a>

                        {{ "plans_widget.js" | javascript_include_tag }}
                        {{ "plans_widget.css" | stylesheet_link_tag }}

                        <script type="text/javascript">
                          //<![CDATA[
                          $(document).ready(function() {
                            $("#choose-plan-{{ subscription.id }}").click(function(){
                              var planID = '{{ subscription.plan.id }}';
                              var contractID = '{{ subscription.id }}';
                              var url = '{{ subscription.change_plan_url }}';

                              function plan_chosen_callback(name, planID){
                              }

                              PlanWidget.loadPreview(planID, plan_chosen_callback, url, contractID );

                              return false;
                            });
                          });
                          //]]>
                        </script>

                      {% endif %}
                    {% else %}
                      <a class="btn btn-info" href="{{service.subscribe_url}}">Subscribe</a>
                    {% endif %}
                  </td>

                  <td>
                    <dl>
                      {% for service_plan in service.service_plans %}
                        <dt>{{ service_plan.name }}</dt>
                        <dd>
                          {% if service_plan.free? %}
                             Free
                          {% else %}
                             <div>
                               <div>Setup fee {{ service_plan.setup_fee }}</div>
                               <div>Flat cost {{ service_plan.flat_cost }}</div>
                            </div>
                          {% endif %}
                        </dd>
                      {% endfor %}
                    </dl>
                  </td>

                  <td>
                    <dl>
                    {% for application_plan in service.application_plans %}
                      <dt>{{ application_plan.name }}</dt>
                    {% endfor %}
                    </dl>
                  </td>

                  {% endif %}
              </tr>
             {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

  </div>
  </section>


{% else %}

  <section class="sell">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Sign in or sign up</h3>
          <p>Please <a href="{{ urls.login }}" class="link">sign in</a> to use the developer portal. If you don't have an account yet, <a href="{{ urls.signup }}" class="link">sign up here</a>.</p>
        </div>
      </div>
    </div>
  </section>

{% endif %}
