<div class="full">
  <div class="container" >
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-hover" id="applications">
              <thead>
                <tr>
                  <th>Name</th>
                  {% if provider.multiple_services_allowed? %}
                    <th>Service</th>
                  {% endif %}
                  <th>Key</th>
                  <th>State</th>
                  <th>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for service in current_account.subscribed_services %}
                    {% for application in service.applications %}
                      <tr class="{% cycle 'applications': 'odd', 'even' %}" id="application_{{ application.id }}">
                        <td>
                          {{ application.name | link_to: application.url }}
                        </td>
                        {% if provider.multiple_services_allowed? %}
                          <td>{{ service.name }}</td>
                        {% endif %}
                        <td>{{ application.key }}</td>
                        <td>{{ application.state }}</td>
                        <td>
                          {% if application.can.be_updated? %}
                            <a href="{{ application.edit_url }}">
                              <i class="icon-pencil"></i>
                            </a>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                {% endfor %}
              </tbody>
            </table>
            <a href="{{ urls.new_application }}" title="Create new application" class="btn btn-info">Create new application</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
