<div class="full">
  <div class="container" >
    <div class="row">
      <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th style="width:20%">Name</th>
                  <th>Description</th>
                  <th>Current subscription</th>
                  <th>Service plans</th>
                  <th>Application plans</th>
                </tr>
              </thead>
              <tbody>
                {% for service in provider.services %}
                  <tr class="service">
                    {% if service.subscribable? %}
                      {% assign subscription = service.subscription %}
                      <td>
                        {{ service.name }}
                      </td>
                      <td>
                        <p>
                          {{ service.description }}
                        </p>
                      </td>

                      <td>
                        {% if subscription %}
                          {{ subscription.plan.name  }}
                          {% unless subscription.live? %}
                            ({{ subscription.state }})
                          {% endunless %}

                          {% if subscription.can.change_plan? %}
                            <a href="#" id="choose-plan-{{subscription.id}}" class="btn btn-default">Review/Change</a>

                            {{ "plans_widget.js" | javascript_include_tag }}
                            {{ "plans_widget.css" | stylesheet_link_tag }}

                            <script type="text/javascript">
                              //<![CDATA[
                              $(document).ready(function() {
                                $("#choose-plan-{{ subscription.id }}").click(function(){
                                  var planID = '{{ subscription.plan.id }}';
                                  var contractID = '{{ subscription.id }}';
                                  var url = '{{ subscription.change_plan_url }}';

                                  function plan_chosen_callback(name, planID){
                                  }

                                  PlanWidget.loadPreview(planID, plan_chosen_callback, url, contractID );

                                  return false;
                                });
                              });
                              //]]>
                            </script>

                            <a href="mailto:info@quisper.eu?subject=Request%20to%20unsubscribe%20from%20service&body=User%3A%20{{ current_user.username }}%0AService%3A%20{{ service.name }}%0A" target="_blank" class="btn btn-default">Unsubscribe</a>

                          {% endif %}
                        {% else %}
                          <a class="btn btn-info" href="{{service.subscribe_url}}">Subscribe</a>
                        {% endif %}
                      </td>

                      <td>
                        <dl>
                          {% for service_plan in service.service_plans %}
                            <dt>{{ service_plan.name }}</dt>
                            <dd>
                              {% if service_plan.free? %}
                                 Free
                              {% else %}
                                 <div>
                                   <div>Setup fee {{ service_plan.setup_fee }}</div>
                                   <div>Flat cost {{ service_plan.flat_cost }}</div>
                                </div>
                              {% endif %}
                              {% for feature in service_plan.features %}
                                <li>{{ feature.name }}</li>
                              {% endfor %}
                            </dd>
                          {% endfor %}
                        </dl>
                      </td>

                      <td>
                        <dl>
                          {% for application_plan in service.application_plans %}
                            <dt>{{ application_plan.name }}</dt>
                            <dd>
                              {% if application_plan.free? %}
                                 Free
                              {% else %}
                                 <div>
                                   <div>Setup fee: {{ application_plan.setup_fee }}</div>
                                   <div>Flat cost: {{ application_plan.flat_cost }}</div>
                                </div>
                              {% endif %}
                              {% for feature in application_plan.features %}
                                <li>{{ feature.name }}</li>
                              {% endfor %}
                              {% for metric in application_plan.metrics %}
                                {% if metric.pricing_rules.size > 0 %}
                                  <li>{{ metric.name }}
                                    <ul>
                                      {% for pricing_rule in metric.pricing_rules %}
                                        <li>{{ pricing_rule.min }} - {{ pricing_rule.max }} {{ metric.unit}}: {{ pricing_rule.cost_per_unit }}</li>
                                      {% endfor %}
                                    </ul>
                                    <ul>
                                      {% for usage_limit in metric.usage_limits %}
                                        <li>{{ usage_limit.period }} : {{ usage_limit.value }}</li>
                                      {% endfor %}
                                     </ul>                                  
                                  </li>
                                {% endif %}
                              {% endfor %}
                            </dd>
                          {% endfor %}
                        </dl>
                      </td>

                      {% endif %}
                  </tr>
                 {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

